$primary: hsl(35, 77%, 62%);
$secondary: hsl(5, 85%, 63%);

$body: hsl(36, 100%, 99%);
$text-light: hsl(233, 8%, 79%);
$text: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 375px;

$font-primary: 'Inter', sans-serif;
$transition: ease-out .7s;